includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:#'